/* Reset de algunos estilos por defecto */
html,
body {
  margin: 0; /* Elimina el margen por defecto del body */
  padding: 0; /* Elimina el padding por defecto del body */
  height: 100%; /* Establece la altura del body al 100% para ocupar toda la pantalla */
  overflow: hidden; /*Evita el desbordamiento del contenido fuera del body */
}

/* Asegurar que todos los elementos ocupen toda la pantalla */
.demo-container,
#page {
  height: 100%; /* Establece la altura del contenedor principal y del contenedor de la página al 100% */
}

#responsive-box {
  height: 100%; /* Establece la altura del responsive box al 100% para ocupar toda la pantalla */
}

/* Para permitir el scroll si el contenido es largo */
#page {
  overflow: auto; /* Habilita el scroll dentro del contenedor de la página si el contenido es más largo que la pantalla */
}

/* Estilos para los elementos dentro del responsive box */

#page .header {
  background-color: rgb(122, 121, 121);
  text-align: center;
  color: white;
  font-size: 24px;  /* Tamaño de fuente */
  font-weight: bold; /* Grosor de fuente en negrita */
  letter-spacing: 2px; /* Espaciado entre letras */
  text-transform: uppercase; /* Transformación de texto a mayúsculas */
  font-family: 'Helvetica Neue', sans-serif;
}

/* #page .content {
  background-color: rgba(245, 229, 166, 0.8);
} */

.item {
  height: 100%;
}

#page p {
  font-size: 20px;
  padding-top: 10px;
  text-align: center;
}

/* list estilos sin revisar */

.dx-list-item-icon-container,
.dx-toolbar-before {
  width: 60px; /* 36px; */
  padding-right: 0 !important;
  text-align: center;
}

.dx-list-item-content {
  padding-left: 10px !important;
}

.panel-list {
  height: 100%;
}


.panel-list .dx-list-item {
  color: #fff;
  border-top: 1px solid rgba(221, 221, 221, 0.2);
}

.panel-list .dx-list-item .dx-icon {
  color: #fff !important;
}


