body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    /* Centra verticalmente */
    align-items: center;
    /* Centra horizontalmente */
    justify-content: center;
    background-color: #6e8f85;
    color: white;
    height: 15%;
    font-size: 30px;
}

.contenedor {
    display: flex;
    height: 83%;
    /* max-height: 85%; */
}


.boton {
    margin: 10px;
    display: none;
    flex-shrink: 0;
    /* Evita que el botón se encoja */
}

#mi-iframe {
    flex-grow: 1;
}


.caja-1 {
    flex-basis: 20%;
    background-color: #a49e7e;
    height: 100%;
    padding: 5px;
    
    border: 1px solid #000;
    

}

.caja-2 {
    flex-grow: 1;
    transition: flex-grow 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
}